
@font-face{
    font-family: 'Homoneta-rg';
    src: url("font/Homoneta/Homoneta-Regular.otf");
}

@font-face{
    font-family: 'Lucette-it';
    src: url("font/Lucette-Regularitalic.otf");
}

@font-face{
    font-family: 'Cascadia';
    src: url("font/CascadiaCode-Regular.otf");
}

*{margin: 0;  box-sizing: border-box;}


body{
  background-color:  #f8faea;
  counter-reset: section;
  }

#sub-h1{
    font-size: 20pt;
    top: 3.75cm;
    font-family: serif;
    font-weight: lighter;
}

#zine-A{
    background-color: #FF3C3C;
    
}

#zine-0{
    background-color: white;
}

#zine-D{
     background-color: #3cb530;}

.page{
  padding:5mm;
  position:relative;
  margin: auto; margin-bottom: 2cm;  height: 210mm; width:148.5mm;
  background-color: #58A3FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  }


/*PAGE 1*/
.general{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "a a"
        "b c";

    z-index: 1;
}

.header{
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: end;
    overlay: hidden;
}


pre{
    font-size: 8pt;
    position : static;
    width: 100%;
}

code{
    font-size: 7.5pt;
}



/*PAGE 2*/

.general-2{
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    row-gap: 40px;
}

.general-3{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    column-gap: 20px;
    height: 100%;
    width: 100%;}

.general-4{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:  row;
    justify-content: center;}

.schema{
    height: 100%;
    display: inline-block;}

.shadow{
    background-color: black;
    color: white;
    font-family: "Cascadia";
    width: fit-content;
    font-size: 12pt;
}
            /*MOTS*/
            #shell{
                position: absolute;
                top: 412px;
                left: 240px;}

            #kernel{
                position: absolute;
                top: 520px;
                left: 250px;}

            #syscall{
                position: absolute;
                top: 450px;
                left: 110px;}

            #interpreter{
                position: absolute;
                top: 445px;
                left: 300px;}

#oval {
    width: 50px;
    height: 30px;
    border-radius: 100px / 70px;
    border-style: solid;
    border-width: 1.5px;
    position: absolute;
    top: 175px;
    left: 225px;
  }

.schema2{
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

#list-lg{
    width: 250px;
    align-self: center;

    p{
        margin-bottom: 20px;
    }
}




/*PAGE 3*/

 table, th, td {
  border: 1px solid black;
   border-collapse: collapse;
   padding: 5px;
   font-size: 10pt;

    th{
        font-size: 9pt}
}

.code{
    font-family: "Cascadia";
    font-size: 9pt;

}


#chap1{
    width: 100%;

    pre{margin: 20px auto 0 auto;}

    
}

#chap3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#chap2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 100%;
    margin-top: 30px;
    

    figcaption{
        margin: 0;
    }

    .logo{
        align-self: end;
    }

    .container-1{
        margin-bottom: 20px;


    }
}


.warn{
    border-style: solid;
    align-self: center;
    padding: 20px ;
    margin-bottom: 20px;

    p{font-size: 8pt;
        margin: 0;
        text-indent: 0;
        }

        .big{
            font-size: 12pt;
        }

        ol{
            padding: 0;
        }
    
}

#memo{
    align-self: end;
    width: 40%;
}





/* texte*/

h1{
    font-family: "Homoneta-rg";
    font-size: 43pt;
    line-height: 0;
        position: absolute;
    top: 3cm;

    }

h4{
    font-family: "Homoneta-rg";
    font-size: 16pt;
    margin-bottom: 10px;
    line-height: 0.9;
}

span{
    font-style: italic;
}

p{
    font-size: 10pt;
    margin-bottom: 10px;
    
}

ul, ol{
    font-size: 10pt;
    margin-bottom: 10px;
}

figcaption{
    font-size: 8pt;

    span{
        font-family: "Lucette-it";
    }
}

.logo{
    font-family: "Lucette-it";
        margin: 0;
    position: absolute;
}

.big{
        font-size: 24pt;
        margin-top: 2cm;
    }

#byte{
    font-size: 6.5pt;
}

#figtop{
    margin-top: 55px;
}

.shadow-2{
    background-color: black;
    color: white;
    font-family: "Cascadia";
    width: fit-content;
    font-size: 8pt;
}

.definition{
    margin-left: 20px;
}


.casca{
    font-family: "Cascadia";
    font-size: 8pt;
    margin-left: 20px;
}

.title{
    margin-top: 15px;
}

.ascii{
    pre{font-size: 2pt;}

    margin-top: 20px;

}


/* IMAGES */
.container-1{
    width: 100%;
}

.container-2{
    width: 50%;
}

.object-1{
    object-fit:contain;
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(1);
    }

#bw{
    filter: grayscale(1);
    
}









/*sous-partie*/
.intro{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 80px;

}

.context{
    grid-area: c;

    p{
        margin-top: 20px;
        margin-left: 20px;
        text-indent: 1cm;
    }

}

.sources{
    ul{
        font-size: 10pt;}
   
    width: 100%;
}

.logo-fin{
    font-family: "Lucette-it";
    	width: 3.5cm;

}

/*add*/

h5{
    font-family: "Lucette-it";
    font-weight: lighter;
}

h6{
    font-family: "Lucette-it";
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 12pt;

}

a{
    color: black;
}

.game{
    border-style: solid; 
    border-width: 2px;
    padding: 2mm;

    strong{
            font-family: "Cascadia"; 
            font-size: 9pt; 
            font-weight: lighter;  }

    h5{
        margin-bottom: 5px;
    }

 }

.ul-margin{
    li{
        margin-top: 5pt;
    }
}

#window-choco{
    font-size: 6pt; 
    font-family: "Cascadia";
}

#chap-win{
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 20px;
    width: 100%;
    margin-top: 30px;
    

    figcaption{
        margin: 0;
    }

    .logo{
        align-self: end;
    }

    .container-1{
        margin-bottom: 20px;


    }
}

#chap-win2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 100%;
    margin-top: 30px;
}


hr{
    border-color: black;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.general-5{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;}

#chap4{
    width: 100%;
    border-style:solid;
    border-width: 1.5px;
    padding:5px;
    pre{margin: 10px auto 0 20px;

    }  
}

#chap7{
    width: 50%;
    pre{margin: 10px auto 0 20px;}  
}

#cmd-img{
    font-family: "cascadia";
    font-size: 7pt; 
    margin-bottom: 5px;
    margin-top: 5px;
}

#potato{
    filter: grayscale(1);
    width: 50%;
}

.lulu{
    font-family:"Lucette-it";
}

#card{
    width: 100%;
    border: none;
}

#drawing{
    font-size: 5pt;
    align-self: end;

}

.pagefoot::before {
  counter-increment: section;
  content:counter(section);
  font-size: 8pt;
  }


.pagefoot{
  height: 3mm;
  width: 100%;
  text-align: center;
  margin: 0;
  justify-self:end;
}

.result{
    font-size: 9pt;
}


.border{
    border-style: solid;
    padding: 2mm;
    border-width: 1pt;
}
#chaise-long{
    font-size: 6.5pt;
}

.general-6{
    display: flex; 
    flex-direction: column;
    row-gap: 2cm;
}

.grid-workshop{
    display: grid;
    grid-template-rows: fit-content;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;

}

.title-workshop{
    grid-column: 1/3;
    grid-row: 1/2;

    p{
        font-size: 25pt;
        text-align: center; 
        font-family: "Homoneta";
        font-weight: bold;
    }
}
.long1{
    grid-column: 1/2;
    grid-row: 2/4;
}
.short1{
    grid-column: 2/3;
    grid-row: 2/3;

}
.illu-workshop{
    grid-column: 2/3;
    grid-row: 3/4
}
.conclude1{
    grid-column: 1/3;
    grid-row: 4/5;
}

@media print{

    .page{
        background-color: white;
    } 

    #zine-A{
        background-color: white;
    }

}